
/footer css/

.footer_link_section{
  float: right;
}
.footer_link_section ul{
  margin: 0px;
  padding: 0px;
  list-style-type: none;
}
.footer_link_section ul li{
  display: inline-block;
}
.footer_link_section ul li a{
  font-size: 14px;
  color: #0080ff;
  padding: 5px 14px;
}
.footer_section{
  background-color: #fff;
  padding: 20px 0px;
}
.footer_section p{
  margin: 0px;
}
.footer_section .custom_container{
  width: 95%;
  margin: auto;
}

  /footer css/

  /dashboard css/
.dashboard_page{
  margin-top: 150px;
}
  /dashboard css/

  /setting_page start css/
  .mrg_lft_rgt_0{
    margin-right: 0px;
    margin-left: 0px;
    
  }
  .page_data_setting{
    background-color: #fff;
    padding: 0px;
    border: 1px solid #F2EFF2;
    border-radius: 8px;
    box-shadow: 0px 4px 40px rgba(255, 196, 196, 0.24);
  }
  .setting_tabs{
    padding: 10px 0px;
    border: 1px solid #F2EFF2;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0px 4px 0px rgb(255 196 196 / 24%);
  }
  .setting_tabs ul{
    margin: 0px;
    padding: 10px 0px;
    list-style-type: none;
  }
  .left_tabs {
    background-color: #fff;    
    border-bottom: 0px;
    padding: 0px 0px;
}
.setting_tabs .left_tabs li{
  padding: 10px 0px 10px 0px;
  margin: 10px 0px;
}
.left_tabs li {
    float: unset;
}
.left_tabs li a {
    color: #350D36 !important;
    display: flex;
    align-items: center;
    font-family: 'Inter', sans-serif;
    padding: 10px 0px 10px 15px;
    border: 0px;
    border-radius: 0px;
    font-size: 14px;
    line-height: 20px;
    font-weight: 600;
}
.left_tabs li a i{
  margin-right: 15px;
  font-size: 20px;
}
.left_tabs li .border_left{
  border-left: 4px solid transparent;
  padding: 20px 0px;
  position: absolute;
}
.left_tabs > li.active > a, .left_tabs > li.active > a:hover, .left_tabs > li.active > a:focus, .left_tabs > li > a:hover, .left_tabs > li > a:focus {
    outline: 0px;
    font-weight: 600;
    border: 0;
    background-color: #F8F7F8 !important;
    border-radius: 0px 25px 25px 0px;
    color: #000;
}
.left_tabs li.active .border_left {
    border-left: 4px solid #CD2553;
    padding: 20px 0px;
    position: absolute;
    border-radius: 0px 4px 4px 0px;
}

/setting page end css/
.mrg_top_70{
  margin-top: 70px;
}
.btn_update{
  background-color: #3751FF !important;
  color: #fff !important;
  font-size: 14px !important;
  line-height: 20px !important;
  padding: 12px 60px !important;
}
.clinic_owner_main_heading{
  font-size: 30px;
  color: #CCCCCC;
  line-height: 30px;
  margin: 15px 0px;
}
.page_data_clinic{
  padding: 30px;
  min-height: 700px;
  background-color: #fff;
  border: 1px solid #F2EFF2;
  border-radius: 8px;
  box-shadow: 0px 4px 40px rgba(255, 196, 196, 0.24);
}
.page_heading{
  font-size: 20px;
  line-height: 20px;
  color: #350D36;
  margin: 0px 0px 25px;
  font-family: 'Inter', sans-serif;
  font-weight: 600;
}
.page_data_clinic_detail{
  background-color: #fff;
  padding: 0px;
  border: 1px solid #F2EFF2;
  border-radius: 8px;
  box-shadow: 0px 4px 40px rgba(255, 196, 196, 0.24);
  min-height: 700px;
}
.page_data_doctor{
  border: 1px solid #DFE0EB;
  border-radius: 8px;
  min-height: 700px;
  padding: 30px 0px;
}
.page_data_doctor .page_heading{
  padding: 0px 30px;
}
.page_data_clinic_detail .link_section{
  padding: 20px 30px;
  border-bottom: 1px solid #CCCCCC;
}
.page_data_clinic_detail .link_section a{
  font-size: 14px;
  line-height: 20px;
  color: #000000;
}
.page_data_clinic_detail .link_section a:hover, .page_data_clinic_detail .link_section a:active, .page_data_clinic_detail .link_section a:focus{
  color: #3751FF;
  font-weight: 700;
}
.page_data_clinic_detail .clinic_list_section:last-child{
  border: 0;
}
.page_data_clinic_detail .clinic_list_section{
  padding: 10px 25px;
  border-bottom: 1px solid #ccc;
}
.page_data_clinic_detail .clinic_list_section p{
  margin: 8px 0px;
}
.clinic_form_section .field_section{
  margin-bottom: 30px;
}
.clinic_form_section .field_section label{
  font-size: 12px;
  font-weight: bold;
  line-height: 15px;
}
.clinic_form_section .field_section p{
  font-size: 14px;
  line-height: 20px;
  color: #3751FF;
}
.clinic_form_section .btn_clinic{
  font-size: 14px;
  line-height: 20px;
  color: #fff;
  font-weight: 600;
  padding: 10px 0px;
  width: 100%;
  background-color: #3751FF;
  border-radius: 8px;
  border: 1px solid #3751FF;

}
.table_doctor_section tr{
  border-bottom: 1px solid #DFE0EB;
  
}
.table_doctor_section tr th{
  font-size: 14px;
  line-height: 17px;
  color: #9FA2B4;
  font-weight: 700;
  padding: 20px 30px;
}
.table_doctor_section tr td{
  font-size: 14px;
  line-height: 20px;
  font-weight: 600;
  padding: 25px 30px;
}
.table_doctor_section tr td a{
  color: #3751FF;
}
.codes_search_form{
  border: 1px solid #ccc;
  border-radius: 7px;
  color: #4B506D;
  padding: 0px 0px 0px 5px;
}
.codes_search_form input{
  border: 0;
  color: #4B506D;
}
.codes_search_form input::placeholder{
  color: #4B506D;
}
.codes_search_form .btn:hover{
  box-shadow: none;
}
.codes_search_form .btn i{
  color: #C5C7CD;
  font-size: 24px;
}
.codes_main_heading{
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  margin: 0px;
  font-family: 'Inter', sans-serif;
  color: #350D36;
}
.codes_para{
  font-size: 14px;
  line-height: 20px;
  font-family: 'Inter', sans-serif;
  color: #350D36;
}
.codes_list_section{
  list-style-type: none;
}
.codes_list_section li{
  font-size: 14px;
  line-height: 20px;
  margin-left: 5px;
  font-family: 'Inter', sans-serif;
  color: #350D36;
}
.codes_list_section li::before{
  color: #350D36;
  content: "\2022";
  width: 1em;
  margin-left: -1em;
  display: inline-block;
  font-size: 34px;
  position: relative;
  top: 7px;
}
.mrg_top_bot_25{
  margin: 25px 0px;
}

.page_data_clinic .text_section{
  margin-bottom: 20px;
}
.back_link{
  font-size: 14px;
  line-height: 20px;
  margin: 0px;
}
.codes_categories_detail_page .panel-title[aria-expanded="false"]{
  font-size: 14px;
  line-height: 20px;
  color: #000000;
}
.codes_categories_detail_page .panel-title[aria-expanded="true"]{
  color: #3751FF;
}

.codes_categories_detail_page .panel-group-continuous .panel + .panel{
  border: 0px;
}
.codes_categories_detail_page .panel-group .panel-heading + .panel-collapse > .panel-body{
  border: 0px;
  padding: 15px;
}
.codes_categories_detail_page .panel-group .panel-heading + .panel-collapse > .panel-body p a{
  color: #000;
}
.codes_categories_detail_page .panel-group .panel-heading + .panel-collapse > .panel-body p a:hover, .codes_categories_detail_page .panel-group .panel-heading + .panel-collapse > .panel-body p a:focus{
  color: #3751FF;
}
.codes_categories_detail_page .panel-group .panel-title[aria-expanded="false"]:before{
  opacity: 1;
  border: 1px solid #000000;
}
.codes_categories_detail_page .panel-group .panel-title[aria-expanded="true"]:after{
  border: 1px solid #3751FF;
}
.codes_categories_detail_page .panel-group .panel-title:hover, .panel-group .panel-title:focus{
  color: #3751FF;
}
.codes_categories_detail_page .non_billable_button{
  background-color: #F12B2C;
  border-radius: 20px;
  border: 0;
  color: #fff;
  font-size: 10px;
  padding: 6px 14px;
  float: right;
}
.codes_categories_detail_page .text_section{
  margin: 20px 0px;
}
.codes_categories_detail_page .codes_list_section li{
  margin: 0px 0px 20px;
}
.codes_categories_detail_page .codes_main_heading{
  margin-bottom: 15px;
}
.back_page-title{
  font-size: 12px;
  line-height: 16px;
  color: #727272;
  margin: 0px 0px 10px;
}
.codes_categories_detail_page .heading_section{
  padding: 30px;
  border-bottom: 1px solid #ccc;
}
.codes_categories_detail_page .heading_section .page_heading{
  margin: 0px;
}
.codes_categories_detail_page .content_section{
  padding: 30px;
}
.codes_categories_detail_page .content_section .text_section{
  margin: 0px 0px 36px;
}
.codes_categories_detail_page .diagnostic_section{
  display: flex;
  margin-bottom: 20px;
}
.codes_categories_detail_page .diagnostic_section p{
  font-size: 14px;
  line-height: 20px;
  margin: 0px 25px 0px 0px;
}
.codes_categories_detail_page .diagnostic_section p a{
  color: #3751FF;
}
.codes_categories_detail_page .billable_button{
  background-color: #34C700;
  border-radius: 20px;
  border: 0;
  color: #fff;
  font-size: 10px;
  padding: 6px 14px;
  float: right;
}
.codes_categories_detail_page .approximate_section .codes_list_section li{
  margin-bottom: 10px;
}




.setting_page_heading{
  font-size: 18px;
  line-height: 22px;
  padding: 20px 30px;
  margin: 0px;
}
.setting_account_info_section .account_section_name_heading{
  font-size: 14px;
  line-height: 20px;
  margin: 0px;
}
.setting_account_info_section a{
  font-size: 12px;
  line-height: 20px;
  font-weight: 600;
}
.setting_account_info_section .red_link{
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
  color: rgba(255, 0, 0, 1);

}
.setting_page_border_bottom{
  border-bottom: 1px solid #DFE0EB;
}

.setting_basic_info_section .field_section{
  margin-bottom: 40px;
}
.setting_basic_info_section .field_section input{
  width: 100%;
  margin-top: 15px;
  border: 1px solid #ccc;
  border-radius: 7px;
  padding: 12px 20px;
}
.setting_basic_info_section .field_section select{
  width: 100%;
  margin-top: 15px;
  border: 1px solid #ccc;
  border-radius: 7px;
  padding: 12px 20px;
}
.setting_basic_info_section .field_section label{
  font-size: 12px;
  line-height: 15px;
  font-weight: 700;
  color: #000000;
}


.timing_setting_field_section input{
  width: 100%;
  padding: 12px 20px;
  border-radius: 7px;
  border: 1px solid #ccc;
}
.timing_setting_field_section .row{
  align-items: center;
}
.timing_setting_field_section .day_text{
  font-size: 14px;
  line-height: 18px;
  color: #000000;
  margin: 0px;
}


.patient_search_section{
  border: 0;
  padding: 0px 5px;
  border-right: 1px solid #ccc;
  margin-right: 2px;
}
.table_patient_list tr td a{
  padding: 0px;
}
.table_patient_list tr td p{
  padding: 0px;
  margin: 0px;
  color: #C5C7CD;
  font-size: 12px;
  line-height: 16px;
}
.filter_link_section{
  margin: 0px;
  padding: 0px;
  list-style-type: none;
  float: right;
}
.filter_link_section li{
  display: inline-block;
  margin-right: 35px;
}
.filter_link_section li:last-child{
  margin-right: 0px;
}
.filter_link_section li a{
  font-size: 14px;
  line-height: 20px;
  color: #4B506D;
  font-weight: 600;
}
.filter_link_section li a i{
  color: #C5C7CD;
  margin-right: 10px;
}





.patient_search_section{
  border: 0;
  padding: 0px 5px;
  border-right: 1px solid #ccc;
  margin-right: 2px;
}
.table_patient_list tr td a{
  padding: 0px;
}
.table_patient_list tr td p{
  padding: 0px;
  margin: 0px;
  color: #C5C7CD;
  font-size: 12px;
  line-height: 16px;
}
.filter_link_section{
  margin: 0px;
  padding: 0px;
  list-style-type: none;
  float: right;
}
.filter_link_section li{
  display: inline-block;
  margin-right: 35px;
}
.filter_link_section li:last-child{
  margin-right: 0px;
}
.filter_link_section li a{
  font-size: 14px;
  line-height: 20px;
  color: #4B506D;
  font-weight: 600;
}
.filter_link_section li a i{
  color: #C5C7CD;
  margin-right: 10px;
}






.patient_tabs_bg{
  background-color: #fff;
  border-radius: 10px;
  border: 1px solid #F2EFF2;
  min-height: 700px;
  padding: 5px 0px;
  box-shadow: 0px 4px 40px rgba(255, 196, 196, 0.24);
}
.patient_tabs_section{
  margin: 0px;
  padding: 0px;
  list-style-type: none;
}
.patient_tabs_section .accordion-button:not(.collapsed){
  color: unset;
  background-color: unset;
  box-shadow: unset;
}
.patient_tabs_section .accordion-button:not(.collapsed)::after{
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23212529'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e") !important;
}
.patient_tabs_section .accordion-body{
  padding: 0px 1.25rem;
}
.patient_tabs_section li{
  display: block;
  padding: 5px 0px;
}
.patient_tabs_section li a{
  color: #350D36;
  font-size: 14px;
  line-height: 20px;
  font-weight: 600;
  display: flex;
  align-items: center;
  padding: 10px 20px;
  font-family: 'Inter', sans-serif;
}
.patient_tabs_section li .border_left{
  border-left: 4px solid transparent;
  padding: 20px 0px;
  position: absolute;
}
.patient_tabs_section li a .img_box{
  margin-right: 20px;
  width: 25px;
  text-align: center;
}
.patient_data_bg{
  background-color: #fff;
  border: 1px solid #DFE0EB;
  border-radius: 8px;
  position: relative;
  padding: 150px 20px 20px;
  margin-top: 100px;
}
.patient_data_bg .patient_img{
  position: absolute;
  top: -100px;
  right: 0;
  left: 0;
  margin: 0px auto;
  border: 1px solid;
  border-radius: 50%;
  width: 200px;
  height: 200px;
}
.patient_data_bg .patient_border_bottom{
  border-bottom: 1px solid #ccc;
}
.patient_data_bg h2{
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  margin: 0px;
}
.patient_data_bg h3{
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  margin: 0px;
}
.patient_data_bg h5{
  font-size: 12px;
  font-weight: 600;
  line-height: 20px;
  margin: 0px;
}
.patient_data_bg h6{
  margin: 0px;
  font-size: 12px;
  line-height: 20px;
}
.patient_data_bg p{
  font-size: 10px;
  line-height: 20px;
  color: #000;
  margin: 10px 0px 0px;
}
.patient_detail_name_section .field_section label{
  font-size: 12px;
  line-height: 16px;
  color: #000;
  margin: 0px 0px 10px;
  font-weight: 700;
}
.patient_detail_name_section .field_section input, .patient_detail_name_section .field_section select{
  width: 100%;
  border: 1px solid #CCCCCC;
  border-radius: 4px;
  padding: 8px 8px 7px;
}
.patient_detail_name_section .field_section .date_field_section{
  display: flex;
  justify-content: center;
  align-items: center;
}
.patient_detail_name_section .field_section .date_field_section .patient_year_text{
  font-size: 12px;
  font-weight: 700;
  line-height: 16px;
  margin: 0px 0px 0px 15px;
}


.patient_profile_tabs_section{
  padding: 15px 30px;
  border-bottom: 1px solid #CCCCCC;
}
.patient_profile_tabs_section ul{
  margin: 0px;
  padding: 0px;
  list-style-type: none;
}
.patient_profile_tabs_section ul li{
  display: inline-block;
  margin-right: 40px;
}
.patient_profile_tabs_section ul li a{
  font-size: 14px;
  line-height: 20px;
  color: #000;
}
.LayoutBase-container-233{display: block !important;}
.LayoutBase-container-413{display: block !important;}



.patient_detail_document_data .folder_section{
  background-color: #F2F2F2;
  border-radius: 7px;
  padding: 20px 30px;
}
.patient_detail_document_data .folder_section h4{
  font-size: 18px;
  line-height: 22px;
  font-weight: 700;
  color: #252733;
  margin: 0px;
}
.patient_detail_document_data .folder_section i{
  font-size: 18px;
  float: right;
}
.patient_detail_document_data .folder_open_section{
  border: 1px solid #ccc;
  border-radius: 7px;
  padding-bottom: 15px;
}
.patient_detail_document_data .folder_open_section h4{
  font-size: 18px;
  line-height: 22px;
  font-weight: 700;
  color: #252733;
  margin: 0px;
}
.patient_detail_document_data .folder_open_section i{
  font-size: 18px;
  margin-right: 10px;
}
.patient_detail_document_data .folder_open_section i:last-child{
  margin-right: 0px;
}
.patient_detail_document_data .folder_open_section p{
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
  margin-bottom: 10px;
}
.patient_detail_document_data .folder_open_section .border_bottom{
  border-bottom: 1px solid #ccc;
}


/*new css*/
 
.modal_popup_section input{
  padding: 8px 8px 7px;
}
.page_not_data_section i{
  font-size: 48px;
  color: #CCCCCC;
}
.page_not_data_section p{
  font-size: 18px;
  line-height: 20px;
  color: #ccc;
}
.field_section label{
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  color: #350D36;
  font-family: 'Inter', sans-serif;
  margin-bottom: 10px;
}



.patient_tabs_bg.active{
  position: fixed;
  width: 100%;
}

/*new css*/


/* Page Loader */
.page-loader{
      color: black;
    font-size: 25px;
    z-index: 99999999;
    position: fixed
}

 .loader-wrapper {
      width: 100%;
      height: 100%;
      position: fixed;
      z-index: 99999999;
      opacity: 0.5;
      top: 0;
      left: 0;
      background-color: #999999;
      display: grid;
      place-items: center;
    }

    .loader {
      border: 16px solid #e3e3e3;
      border-top: 16px solid #3498db;
      border-radius: 50%;
      width: 140px;
      height: 140px;
      animation: spin 1s linear infinite;
    }

    @keyframes spin {
      0% {
        transform: rotate(0deg);
      }

      100% {
        transform: rotate(360deg);
      }
    }
/* Page Loader */


.file-input {
    display: none;
} 

.file-upload-btn {
    color: white;
    text-transform: uppercase;
    outline: none;
    background-color: #4aa1f3;
    font-weight: bold;
    padding: 8px 15px;
    margin-bottom: 5px;
}



.drop-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    width: 100%;
    height: 200px;
    border: 4px dashed #000;
    margin-top: 20px;
}

.upload-icon {
    width: 50px;
    height: 50px;
    background: url(../images/upload.png) no-repeat center center; 
    background-size: 100%;
    text-align: center;
    margin: 0 auto;
    padding-top: 30px;
}

.drop-message {
    text-align: center;
    color: #000;
    font-family: Arial;
    font-size: 20px;
}

.file-progressBar {
    width: 100%;
    border-radius: 5px; 
    overflow: hidden;
    display:inline-block;
    margin:0px 10px 5px 5px;
    vertical-align:top;
    flex: 6 !important;
    margin-left: 50px;
    box-sizing: content-box;
    width:calc(100% - 50px)
}
    
.file-progressBar div {
    height: auto;
    color: #fff;
    text-align: right;
    line-height: 15px;
    width: 0;
    background-color: #4caf50; 
    border-radius: 3px; 
    font-size: 13px;
}
  
.file-display-container {
    position: fixed;
    width: 805px;
}
  
.file-status-bar{
    width: 100%;
    vertical-align:top;
    margin-top: 10px;
    margin-bottom: 20px;
    position: relative;
    line-height: 50px;
    height: 50px;
}
  
.file-status-bar > div {
    overflow: hidden;
}
  
.file-type {
    display: inline-block!important;
    position: absolute;
    font-size: 12px;
    font-weight: 700;
    line-height: 13px;
    margin-top: 25px;
    padding: 0 4px;
    border-radius: 2px;
    box-shadow: 1px 1px 2px #abc;
    color: #fff;
    background: #0080c8;
    text-transform: uppercase;
}
  
.file-name {
    display: inline-block;
    vertical-align:top;
    margin-left: 50px;
    color: #4aa1f3;
}

.file-error {
    display: inline-block;
    vertical-align: top;
    margin-left: 50px;
    color: #9aa9bb;
}

.file-error-message {
    color: red;
}
  
.file-type-logo {
    width: 50px;
    height: 50px;
    background: url(../images/generic.png) no-repeat center center; 
    background-size: 100%;
    position: absolute;
}
  
.file-size {
    display:inline-block;
    vertical-align:top;
    color:#30693D;
    margin-left:10px;
    margin-right:5px;
    margin-left: 10px;
    color: #444242;
    font-weight: 700;
    font-size: 14px;
}
  
.file-remove  {
    position: absolute;
    top: 20px;
    right: 10px;
    line-height: 15px;
    cursor: pointer;
    color: red;
    margin-right: -10px;
}

.modal{
    z-index: 999;
    display: none;
    overflow: hidden;
}

.modal .overlay{
    width: 100%;
    height: 100vh;
    background: rgba(0,0,0,.66);
    position: absolute;
    top: 0;
    left: 0;
}

.modal .modal-image{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    overflow: hidden;
    object-fit: cover;
    width: 100%;
    height: 300px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.modal-image-text {
    position: absolute;
    color: red;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 16px;
}

.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.upload-modal {
    z-index: 999;
    display: none;
    overflow: hidden;
}

.upload-modal .overlay{
    width: 100%;
    height: 100vh;
    background: rgba(0,0,0,.66);
    position: absolute;
    top: 0;
    left: 0;
}

.progress-container {
    background: white;
    width: 500px;
    height: 300px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    overflow: hidden;
}

.progress-container span {
    display: flex;
    justify-content: center;
    padding-top: 20px;
    font-size: 20px;
}

.progress {
    width: 90%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: #efefef;
    height: 20px;
    border-radius: 5px;
}

.progress-bar {
    position: absolute;
    background-color: #4aa1f3;
    height: 20px;
    border-radius: 5px;
    text-align: center;
    color: white;
    font-weight: bold;
}

.error {
    color: red;
}

.dropdown-toggle::after{display: none;}

.ReactCrop__image{width: 100% !important; height: 300px !important;}


